@model List<AppUser>
@{
    ViewData["Title"] = "GetUsers";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Sisteme Kayıtlı Üyeler</h3>
<hr />
<table class="table table-bordered table-striped">
    <tr>
        <td>Id</td>
        <td>Username</td>
        <td>Email</td>
        <td>Roller</td>
        <td></td>
    </tr>
    @if (Model.Count < 1)
    {
            <tr>
                <td colspan="3">Hiç bir üye mevcut değil.</td>
            </tr>
    }
    @foreach (var item in Model)
    {
            <tr>
                <td>@item.Id</td>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td user-rolles="@item.Id"></td>
                <td><a href="/Admin/RoleAssign/@item.Id" class="btn btn-info btn-block">Rol Ata</a></td>
            </tr>
    }
</table>
